{% extends 'base.html.twig' %}

{% block body %}
    <h1>Student</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Yearoffgrdaduation</th>
                <td>{{ student.yearOffGrdaduation }}</td>
            </tr>
            <tr>
                <th>Fname</th>
                <td>{{ student.fName }}</td>
            </tr>
            <tr>
                <th>Lname</th>
                <td>{{ student.lName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ student.password }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('student_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('student_edit', { 'id': student.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
