{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': admin.id }) }}">{{ admin.id }}</a></td>
                <td>{{ admin.name }}</td>
                <td>{{ admin.password }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_show', { 'id': admin.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_edit', { 'id': admin.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
